button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #ab2c2d;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 1.12rem 2.24rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: #892324;
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #ab2c2d; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.56rem;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.56rem; }

input,
select,
textarea {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 1.4rem; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #d7d0d0;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 1.12rem;
  padding: 0.7466666667rem;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #ab2c2d;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(151, 39, 40, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #ccc6c6;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.56rem; }

[type="file"] {
  margin-bottom: 1.12rem;
  width: 100%; }

select {
  margin-bottom: 1.12rem;
  width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.12rem 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 1.12rem 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 1.12rem 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Arial", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Georgia", serif;
  line-height: 1.2;
  margin: 0; }

h1 {
  font-size: 1.833rem; }

h2 {
  font-size: 1.633em; }

p {
  margin: 0 0 2.24rem; }

a {
  color: #ab2c2d;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #802122; }

hr {
  border-bottom: black;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 2.24rem 0; }

/* http://kenwheeler.github.io/slick/ */
body {
  margin: 0;
  background-color: #d7d0d0; }

header {
  padding-top: 2.24rem;
  background-color: #ab2c2d; }

@media only screen and (min-width: 960px) {
  nav {
    align-self: flex-end; } }

main {
  background-color: #d7d0d0; }

.main-nav {
  display: flex;
  justify-content: space-around;
  padding: 0.56rem 0.56rem;
  font-family: "Georgia", serif;
  font-weight: 400;
  font-size: .8rem; }
  @media only screen and (min-width: 600px) {
    .main-nav {
      padding: 1.12rem 2.24rem;
      font-size: 1.4rem; } }
  @media only screen and (min-width: 600px) {
    .main-nav li {
      margin-right: 2.24rem; } }
  @media only screen and (min-width: 960px) {
    .main-nav li {
      font-size: 1.4rem; } }
  .main-nav li a {
    width: 100%;
    height: 100%;
    color: #c6ced4;
    transition: all 250ms ease-in-out; }
  .main-nav li a:hover {
    color: white; }

article {
  width: 100%; }

.article-content, .page-content {
  padding: 2.24rem; }
  @media only screen and (min-width: 960px) {
    .article-content, .page-content {
      width: 56rem;
      padding: 2.24rem;
      margin-left: auto;
      margin-right: auto; } }
  .article-content img, .page-content img {
    display: block;
    margin: 1.12rem auto; }
    @media only screen and (min-width: 960px) {
      .article-content img, .page-content img {
        float: right;
        margin: 2.24rem 0 2.24rem 2.24rem;
        max-width: 50%; } }

.about-page {
  padding: 2.24rem; }
  @media only screen and (min-width: 960px) {
    .about-page {
      width: 56rem;
      padding: 2.24rem;
      margin-left: auto;
      margin-right: auto; } }
  .about-page h1, .about-page h2 {
    margin-bottom: 1.12rem; }
  .about-page img {
    height: 17.92rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.12rem; }

.title-marquee {
  background-size: cover;
  position: relative;
  height: 26.88rem;
  background-position: 50% 30%; }

.article-attributions {
  text-align: center;
  margin: 2.24rem; }

.authorship {
  font-family: "Georgia", serif; }

.masthead {
  padding: 0;
  position: relative; }
  @media only screen and (min-width: 600px) {
    .masthead {
      padding-left: 2.24rem; } }
  .masthead svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 6.72rem;
    margin-bottom: 1.12rem;
    fill: #d7d0d0;
    transition: all 250ms ease-in-out;
    max-width: 100%; }
    @media only screen and (min-width: 600px) {
      .masthead svg {
        height: 11.2rem; } }
  .masthead svg:hover {
    fill: white; }

.accent-text {
  margin: 2.24rem 0; }
  @media only screen and (min-width: 960px) {
    .accent-text {
      max-height: none; } }

.accent-text {
  color: #ab2c2d;
  font-family: "Georgia", serif;
  font-size: 1.75rem;
  border-left: 3px solid #ab2c2d;
  padding-left: 0.56rem; }

@media only screen and (min-width: 960px) {
  .accentImage {
    float: right;
    margin-left: 1.12rem; } }

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 2.24rem; }
  @media only screen and (min-width: 960px) {
    .footer {
      justify-content: space-between;
      width: 44.8rem;
      margin-left: auto;
      margin-right: auto; } }
  .footer img {
    width: 100%;
    max-height: 8.96rem; }
    @media only screen and (min-width: 960px) {
      .footer img {
        max-width: 25%; } }
  .footer img:first-child {
    margin-bottom: 1.12rem; }

/*Layout for contents page*/
.contents-wrapper {
  padding: 1.12rem; }

.contents-block {
  min-height: 11.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1.12rem;
  background-size: cover;
  position: relative;
  background-position: center center; }
  @media only screen and (min-width: 960px) {
    .contents-block {
      width: 50%;
      display: inline-block; } }
  .contents-block * {
    color: #a3acb2; }

.contents-linker {
  position: relative; }

.contents-linker:hover .contents-essay-title,
.contents-linker:hover .contents-essay-title {
  color: #a3acb2; }

.contents-essay-title,
.contents-subtitle {
  background-color: #333333cf;
  z-index: 100;
  padding-left: 0.56rem; }

.contents-subtitle {
  margin: 0; }

@supports (display: grid) {
  @media only screen and (min-width: 600px) {
    .contents-wrapper {
      display: grid;
      grid-gap: 1.12rem;
      grid-template-columns: 50% 50%;
      max-width: 67.2rem;
      margin-left: auto;
      margin-right: auto; } }

  @media only screen and (min-width: 600px) {
    .contents-section {
      grid-column: span 2;
      text-align: center; } }

  @media only screen and (min-width: 600px) {
    .contents-block {
      width: initial;
      display: flex; } }

  .contents-title {
    grid-column: span 2;
    text-align: center;
    margin-bottom: 2.24rem; }

  .contents-linker:hover::after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 11.2rem;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); }

  .contents-essay-title {
    position: relative; } }
/* Archives page */
.archive-wrapper {
  padding: 1.12rem; }
  @media only screen and (min-width: 600px) {
    .archive-wrapper {
      width: 44.8rem;
      margin-left: auto;
      margin-right: auto; } }

.archive-issue-title {
  color: #333; }

.archive-card {
  padding: 1.12rem;
  margin-bottom: 2.24rem; }

.archive-card:hover > .archive-issue-title {
  text-decoration: underline; }

#eighteen-card {
  background-color: #e74f4e; }

#seventeen-card {
  background-color: #95bbb9; }

#sixteen-card {
  background-color: #970004cc; }

/*Backgrounds for contents page. */
#theimportanceofmonsters-contents {
  background-image: url("../img/header-theimportanceofmonsters.jpg"); }

#skin-contents {
  background-image: url("../img/header-skin.jpg"); }

#getout-contents {
  background-image: url("../img/header-getout.jpg"); }

#contentofmyskin-contents {
  background-image: url("../img/header-contentofmyskin.jpg"); }

#channeling-contents {
  background-image: url("../img/header-channeling.jpg"); }

#mazurka-contents {
  background-image: url("../img/header-mazurka.jpg"); }

#lynnmolando-contents {
  background-image: url("../img/header-thetaleoflynnmolando.jpg"); }

#yablon-contents {
  background-image: url("../img/header-yabloninbetween.jpg"); }

#devilishwishes-contents {
  background-image: url("../img/header-devilishwishes.jpg"); }

#whoknowswhereshesfrom-contents {
  background-image: url("../img/header-whoknowswhereshesfrom.jpg"); }

#thecannolicatastrophe-contents {
  background-image: url("../img/header-thecannolicatastrophe.jpg"); }

#blacklake-contents {
  background-image: url("../img/header-blacklake.jpg"); }

hr {
  clear: both; }

.cover-page {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("../img/cover.jpg"); }
  @media only screen and (min-width: 960px) {
    .cover-page {
      background-position-y: center; } }

.cover-page svg {
  width: 22.4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  fill: #ab2c2d; }
  @media only screen and (min-width: 960px) {
    .cover-page svg {
      width: 33.6rem; } }

.issue-date {
  font-family: "Georgia", serif;
  font-size: 2.1rem;
  color: #ab2c2d;
  text-align: center; }

.subtitle {
  font-family: "Georgia", serif; }

/*Yablon styling*/
#yablon-content p,
#yablon-content h2 {
  border-left: 4px solid #ab2c2d;
  padding-left: 0.56rem; }

#yablon-content h2 {
  color: #ab2c2d; }

#yablon-content h2:nth-child(5),
#yablon-content p:nth-child(n+5):nth-child(-n+9) {
  border-right: 4px solid black;
  padding-right: 0.56rem;
  text-align: right;
  border-left: none;
  color: #333; }

#yablon-content {
  padding-bottom: 2.24rem; }

.carousel-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.24rem; }

.carousel-item {
  height: 11.2rem;
  background-size: cover; }

.home-article-title {
  color: white;
  text-align: center;
  font-size: 10vh; }

.home-wrapper {
  padding-top: 2.24rem; }

.letter-editor {
  margin-bottom: 1.12rem; }

/*# sourceMappingURL=main.css.map */
