@import "bourbon/bourbon";
@import "base/base";

body {
	margin: 0;
}

header {
	padding-top: $base-spacing;
	margin-bottom: $small-spacing;
	background-color: $header-background-color;
	@include breakpoint($large-screen) {
		display: flex;
		justify-content: space-around;
	}
}

nav {
	@include breakpoint($large-screen) {
		align-self: flex-end;
	}
}

.main-nav {
	display: flex;
	justify-content: space-around;
	padding: ($small-spacing / 2) ($small-spacing / 2);
	font-family: $heading-font-family;
	font-weight: $menu-font-weight;
	@include breakpoint($medium-screen) {
		padding: $small-spacing $base-spacing;
	}

	li {
		@include breakpoint($medium-screen) {
			margin-right: $base-spacing;
		}
		@include breakpoint($large-screen) {
			font-size: $base-font-size;
		}

		a {
			width: 100%;
			height: 100%;
			color: white;
			transition: $base-transition;
		}

		a:hover {
			color: $article-heading-color;
		}
	}
}

article {
	width: 100%;
}

.article-content {
	padding: $base-spacing;
	@include breakpoint($large-screen) {
		width: $base-spacing * 20;
		padding: $base-spacing 0 0;
		margin-left: auto;
		margin-right: auto;
	}

	img {
		display: block;
		margin: $small-spacing auto;
		@include breakpoint($large-screen) {
			float: right;
			margin: $base-spacing 0 $base-spacing $base-spacing;
		}
	}
}

.title-marquee {
	margin-left: $base-spacing;
	margin-right: $base-spacing;
	background-size: cover;
	position: relative;
	height: $base-spacing * 12;
	background-position: center center;

	h1 {
		margin: 0;
		font-family: $heading-font-family;
		font-weight: $h1-font-weight;
	}
}

.article-attributions {
	text-align: right;
	margin: $base-spacing;
}

.page-content {
	@extend .article-content;
}

.masthead {
	padding: 0;
	position: relative;
	@include breakpoint($medium-screen) {
		padding-left: $base-spacing;
	}

	svg {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: $base-spacing * 3;
		margin-bottom: $small-spacing;
		fill: white;
		transition: $base-transition;
		max-width: 100%;
		@include breakpoint($medium-screen) {
			height: $base-spacing * 5;
		}
	}

	svg:hover {
		fill: $article-heading-color;
	}
}

.accent-image,
.accent-text {
	display: block;
	margin: $base-spacing 0;
	@include breakpoint($large-screen) {
		width: 50%;
		max-height: none;
	}
}

.accent-text {
	color: $accent-text-color;
	@include breakpoint($large-screen) {
		float: left;
		margin-right: $small-spacing;
	}
}

.accentImage {
	@include breakpoint($large-screen) {
		float: right;
		margin-left: $small-spacing;
	}
}

.footer {
	display: flex;
	flex-wrap: wrap;
	padding: 0 $base-spacing $base-spacing;
	@include breakpoint($large-screen) {
		justify-content: space-between;
		width: $base-spacing * 20;
		margin-left: auto;
		margin-right: auto;
	}

	img {
		width: 100%;
		max-height: $base-spacing * 4;
		@include breakpoint($large-screen) {
			max-width: 33%;
		}
	}

	img:first-child {
		margin-bottom: $small-spacing;
	}
}
/*Layout for contents page*/
.contents-wrapper {
	padding: $small-spacing;
}

.contents-block {
	min-height: $base-spacing * 5;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: $small-spacing;
	background-size: cover;
	position: relative;
	background-position: center center;
	@include breakpoint($large-screen) {
		width: 50%;
		display: inline-block;
	}

	* {
		color: $article-heading-color;
	}
}

.contents-linker {
	position: relative;
}

.contents-linker:hover .contents-essay-title {
	color: $article-heading-color;
}

.contents-essay-title {
	background-color: #333333cf;
	z-index: 100;
	position: absolute;
	bottom: 0;
}
@supports (display:grid) {
	.contents-wrapper {
		@include breakpoint($medium-screen) {
			display: grid;
			grid-gap: $small-spacing;
			grid-template-columns: 1fr 1fr;
			max-width: $base-spacing * 30;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.contents-section {
		@include breakpoint($medium-screen) {
			grid-column: 1 / 3;
		}
	}

	.contents-block {
		@include breakpoint($medium-screen) {
			width: initial;
			display: flex;
		}
	}

	.contents-title {
		grid-column: 1/3;
	}

	.contents-linker:hover::after {
		content: " ";
		z-index: 10;
		display: block;
		position: absolute;
		height: $base-spacing * 5;
		top: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
	}
	.contents-essay-title {
		position: relative;
	}
}
/* Archives page */
.archive-wrapper {
	padding: $small-spacing;
	@include breakpoint($medium-screen) {
		width: $base-spacing * 20;
		margin-left: auto;
		margin-right: auto;
	}
}

.archive-issue-title {
	color: $base-font-color;
}

.archive-card {
	padding: $small-spacing;
	margin-bottom: $base-spacing;
}

.archive-card:hover > .archive-issue-title {
	text-decoration: underline;
}

#seventeen-card {
	background-color: #95bbb9;
}

#sixteen-card {
	background-color: #970004;
}
/*Backgrounds for contents page. */
#steve-contents {
	background-image: url("../img/header-steve.jpg");
}

#riseabove-contents {
	background-image: url("../img/header-toriseabove.jpg");
}

#poder-contents {
	background-image: url("../img/header-elpoderenlaspalabras.jpg");
}

#garden-contents {
	background-image: url("../img/header-oursecretgarden.jpg");
}

#darkside-contents {
	background-image: url("../img/header-darksideofshowbusiness.jpg");
}

#foolsgold-contents {
	background-image: url("../img/header-foolsgold.jpg");
}

#room-contents {
	background-image: url("../img/header-room303.jpg");
}

#funhome-contents {
	background-image: url("../img/header-funhome.jpg");
}

#willpower-contents {
	background-image: url("../img/header-willpowerandfeminism.jpg");
}

#devil-contents {
	background-image: url("../img/header-sympathyforthedevil.jpg");
}

hr {
	clear: both;
}
