@import "bourbon/bourbon";
@import "base/base";
/* http://kenwheeler.github.io/slick/ */
body {
	margin: 0;
}

header {
	padding-top: $base-spacing;
	background-color: $header-background-color;
	@include breakpoint($large-screen) {

	}
}

nav {
	@include breakpoint($large-screen) {
		align-self: flex-end;
	}
}

main {
	background-color: $base-background-color;
}

.main-nav {
	display: flex;
	justify-content: space-around;
	padding: ($small-spacing / 2) ($small-spacing / 2);
	font-family: $heading-font-family;
	font-weight: $menu-font-weight;
	@include breakpoint($medium-screen) {
		padding: $small-spacing $base-spacing;
	}

	li {
		@include breakpoint($medium-screen) {
			margin-right: $base-spacing;
		}
		@include breakpoint($large-screen) {
			font-size: $base-font-size;
		}

		a {
			width: 100%;
			height: 100%;
			color: white;
			transition: $base-transition;
		}

		a:hover {
			color: $article-heading-color;
		}
	}
}

article {
	width: 100%;
}

.article-content {
	padding: $base-spacing;
	@include breakpoint($large-screen) {
		width: $base-spacing * 25;
		padding: $base-spacing 0 0;
		margin-left: auto;
		margin-right: auto;
	}

	img {
		display: block;
		margin: $small-spacing auto;
		@include breakpoint($large-screen) {
			float: right;
			margin: $base-spacing 0 $base-spacing $base-spacing;
		}
	}
}

.title-marquee {
	background-size: cover;
	position: relative;
	height: $base-spacing * 12;
	background-position: 50% 30%;
}

.article-attributions {
	text-align: center;
	margin: $base-spacing;
}

.authorship {
	font-family: $heading-font-family;
}

.page-content {
	@extend .article-content;
}

.masthead {
	padding: 0;
	position: relative;
	@include breakpoint($medium-screen) {
		padding-left: $base-spacing;
	}

	svg {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: $base-spacing * 3;
		margin-bottom: $small-spacing;
		fill: white;
		transition: $base-transition;
		max-width: 100%;
		@include breakpoint($medium-screen) {
			height: $base-spacing * 5;
		}
	}

	svg:hover {
		fill: $article-heading-color;
	}
}

.accent-text {
	margin: $base-spacing 0;
	@include breakpoint($large-screen) {
		max-height: none;
	}
}

.accent-text {
	color: $accent-text-color;
	font-family: $heading-font-family;
	font-size: $base-font-size * 1.25;
	border-left: 3px solid $action-color;
	padding-left: $small-spacing / 2;
}

.accentImage {
	@include breakpoint($large-screen) {
		float: right;
		margin-left: $small-spacing;
	}
}

.footer {
	display: flex;
	flex-wrap: wrap;
	padding: 0 $base-spacing $base-spacing;
	@include breakpoint($large-screen) {
		justify-content: space-between;
		width: $base-spacing * 20;
		margin-left: auto;
		margin-right: auto;
	}

	img {
		width: 100%;
		max-height: $base-spacing * 4;
		@include breakpoint($large-screen) {
			max-width: 25%;
		}
	}

	img:first-child {
		margin-bottom: $small-spacing;
	}
}
/*Layout for contents page*/
.contents-wrapper {
	padding: $small-spacing;
}

.contents-block {
	min-height: $base-spacing * 5;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: $small-spacing;
	background-size: cover;
	position: relative;
	background-position: center center;
	@include breakpoint($large-screen) {
		width: 50%;
		display: inline-block;
	}

	* {
		color: $article-heading-color;
	}
}

.contents-linker {
	position: relative;
}

.contents-linker:hover .contents-essay-title {
	color: $article-heading-color;
}

.contents-essay-title {
	background-color: #333333cf;
	z-index: 100;
	position: absolute;
	bottom: 0;
}
@supports (display:grid) {
	.contents-wrapper {
		@include breakpoint($medium-screen) {
			display: grid;
			grid-gap: $small-spacing;
			grid-template-columns: 50% 50%;
			max-width: $base-spacing * 30;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.contents-section {
		@include breakpoint($medium-screen) {
			grid-column: span 2;
			text-align: center;
		}
	}

	.contents-block {
		@include breakpoint($medium-screen) {
			width: initial;
			display: flex;
		}
	}

	.contents-title {
		grid-column: span 2;
		text-align: center;
	}

	.contents-linker:hover::after {
		content: " ";
		z-index: 10;
		display: block;
		position: absolute;
		height: $base-spacing * 5;
		top: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
	}
	.contents-essay-title {
		position: relative;
	}
}
/* Archives page */
.archive-wrapper {
	padding: $small-spacing;
	@include breakpoint($medium-screen) {
		width: $base-spacing * 20;
		margin-left: auto;
		margin-right: auto;
	}
}

.archive-issue-title {
	color: $base-font-color;
}

.archive-card {
	padding: $small-spacing;
	margin-bottom: $base-spacing;
}

.archive-card:hover > .archive-issue-title {
	text-decoration: underline;
}
#eighteen-card {
	background-color: #e74f4e;
}
#seventeen-card {
	background-color: #95bbb9;
}

#sixteen-card {
	background-color: #970004cc;
}
/*Backgrounds for contents page. */
#theimportanceofmonsters-contents {
	background-image: url("../img/header-theimportanceofmonsters.jpg")
}

#skin-contents {
	background-image: url("../img/header-skin.jpg")
}

#getout-contents {
	background-image: url("../img/header-getout.jpg")
}

#contentofmyskin-contents {
	background-image: url("../img/header-contentofmyskin.jpg")
}

#channeling-contents {
	background-image: url("../img/header-channeling.jpg")
}

#mazurka-contents {
	background-image: url("../img/header-mazurka.jpg")
}

#lynnmolando-contents {
	background-image: url("../img/header-thetaleoflynnmolando.jpg")
}

#yablon-contents {
	background-image: url("../img/header-yabloninbetween.jpg")
}

#devilishwishes-contents {
	background-image: url("../img/header-devilishwishes.jpg")
}

#whoknowswhereshesfrom-contents {
	background-image: url("../img/header-whoknowswhereshesfrom.jpg")
}

#thecannolicatastrophe-contents {
	background-image: url("../img/header-thecannolicatastrophe.jpg")
}
hr {
	clear: both;
}

.cover-page {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url('../img/cover.jpg');
	@include breakpoint($large-screen) {
		background-position-y: center;
	}
}

.cover-page svg {
	width: $base-spacing * 10;
	display: block;
	margin-left: auto;
	margin-right: auto;
	fill: #fff;
	@include breakpoint($large-screen) {
		width: $base-spacing * 15;
	}
}

.issue-date {
	font-family: $heading-font-family;
	font-size: $base-font-size * 1.5;
	color: $article-heading-color;
	text-align: center;
}

.subtitle {
	font-family: $heading-font-family;
}
