@import "bourbon/bourbon";
@import "base/base";

body {
	margin: 0;
}
header {
	padding-top: $base-spacing;
	margin-bottom: $small-spacing;
	background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}

.main-nav {
	display: flex;
	justify-content: space-around;
	padding: ($small-spacing / 2) ($small-spacing /2) 0;
	background-color: black;

	@include breakpoint($large-screen) {
		padding: $small-spacing $base-spacing;
	}

	li {
		font-size: .8em;

		@include breakpoint($large-screen) {
			font-size: $base-font-size;
		}

		a {
			width: 100%;
			height: 100%;
			color: $menu-fill-color;
			transition: $base-transition;
		}

		a:hover{
			color: $accent-text-color;
			svg {
				fill: $accent-text-color;
			}
		}
		svg {
			width: 30px;
			height: 30px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			transition: $base-transition;
			fill: $menu-fill-color;

			@include breakpoint($large-screen) {
				width: $svg-desktop-size;
				height: $svg-desktop-size;
			}
		}
	}
}

article {
	width: 100%;
}

.article-content {
	padding: $base-spacing;

	@include breakpoint($large-screen) {
		width: $base-spacing * 20;
		padding: $base-spacing 0 0;
		margin-left: auto;
		margin-right: auto;
	}

	 img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: $small-spacing;
		margin-bottom: $small-spacing;
		@include breakpoint($large-screen) {
			float: right;
			margin: $base-spacing 0 $base-spacing $base-spacing;
		}
	}
}

.title-marquee {
	background-size: 100%;
	background-repeat: no-repeat;
	padding: ($small-spacing / 2) $small-spacing;
	margin-left: $base-spacing;
	margin-right: $base-spacing;
	height: 28vw;
	@include breakpoint ($large-screen) {
		height: 480px;
		padding: $base-spacing;
		background-size: cover;
	}
	h1 {
		margin: 0;
		font-family: $heading-font-family;
		font-weight: $heading-font-weight;
		font-style: italic;
		font-size: 1.236em;
		color: white;

		@include breakpoint($large-screen) {
			font-size: 2.236em
		}
	}
}

.authorship {
	padding: $small-spacing 0 0 $base-spacing;

	@include breakpoint($large-screen) {
		padding: $small-spacing $base-spacing;
	}
}

.page-content {
	@extend .article-content;
}

.masthead {
	padding: 0;
	position: relative;

	@include breakpoint($large-screen) {
		padding-left: $base-spacing;
	}

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: $base-spacing * 3;
		margin-bottom: $small-spacing;

		@include breakpoint($large-screen) {
			height: $base-spacing * 5;
			margin-left: 8em;
			margin-right: 0;
		}

	}
}

.accent-image,
.accent-text {
	display: block;
	margin: $base-spacing 0;

	@include breakpoint($large-screen) {
		float: right;
		width: 50%;
		margin-left: $small-spacing;
		max-height: none;
	}
}

.accent-text {
	color: $accent-text-color;
	font-style: italic;
}

.cover-container {
	padding: $small-spacing;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;

	@include breakpoint($large-screen) {
		height: 100%;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}

.cover-child {
	align-self: center;
	margin-bottom: $small-spacing;

	@include breakpoint($large-screen) {
		max-width: 48%
	}
}

.cover-masthead {
	width: 70%;
	position: relative;

	@include breakpoint($large-screen) {
		order: 2;
		max-width: 49%;
	}
}

.issue-info {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: $small-spacing;
	position: relative;

	h1 {
		font-size: 1.236em;
		color: $action-color;
		text-decoration: underline;
	}

	@include breakpoint($large-screen) {
		order: 3;
		width: 28%;
	}
}

.first-image,
.second-image {
	@include breakpoint($large-screen) {
		order: 1;
	}
}

.third-image,
.fourth-image,
.fifth-image {
	display: none;
	@include breakpoint($large-screen) {
		display: block;
	}
}

.third-image {
	@include breakpoint($large-screen) {
		order: 2;
	}
}

.fourth-image,
.fifth-image {
	@include breakpoint($large-screen) {
		order: 3;
		width: 32%;
	}
}

.cover-linker {
	position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.footer {
	display: flex;
	flex-wrap: wrap;
	padding: 0 $base-spacing $base-spacing;

	@include breakpoint($large-screen) {
		justify-content: space-between;
		width: $base-spacing * 20;
		margin-left: auto;
		margin-right: auto;
	}
	img {
		width: 100%;
		max-height: $base-spacing * 4;

		@include breakpoint($large-screen) {
			max-width: 33%;
		}
	}

	img:first-child {
		margin-bottom: $small-spacing;
	}
}
