@import url(https://fonts.googleapis.com/css?family=Simonetta|Roboto|Satisfy);

body {
	font-family: 'Roboto', sans-serif;
	background-color: #970004;
	font-size: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Simonetta', cursive;
}
@media screen{
#splashGrid {
}

}
#splashMast {
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	margin-bottom: 0%;
}
#splashIMG {




}
#splashAccent {
	margin-top: 5px;
	margin-bottom: 5%;
}
#splashEnter {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	float: none;

}
#splashRow {
	top: 10%;
}

@media (min-width:768px){
#splashIMG {
	margin-top: 30%;
	float: right;
	max-height: 720px;
}

}
#splashBod {
	background-color: #970004;
}

@media (min-width:992px){
#splashIMG {
	position: fixed;
	top: -35%;
	left: 40%;
}

}
