- var pageTitle = page.title || config.subtitle || ''

doctype html
html(lang=config.language)
	head
		meta(charset='UTF-8')
		title= pageTitle
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css")
		link(rel="stylesheet", href="css/main.css")
		<script src="https://use.typekit.net/tie2vbh.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	body
		header
			div.masthead
				include masthead.svg
			nav
				ul.main-nav
					li.nav-item
						a.nav-link(href="letterfromtheeditor.html")
							include home.svg
							.
								Home
					li.nav-item
						a.nav-link(href="tableofcontents.html")
							include book.svg
							.
								Contents
					li.nav-item
						a.nav-link(href="contributors.html")
							include pencil.svg
							.
								Authors
					li.nav-item
						a.nav-link(href="archive/2016edition/index.html")
							include folder-open-o.svg
							.
								Archives
					li.nav-item
						a.nav-link(href="about.html")
							include search.svg
							.
								About
		main
			block content
		div.footer
			div.logo1
			div.logo2
