@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Simonetta|Roboto|Satisfy);

body {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Simonetta', cursive;
}

.accentText {
	font-family: 'Satisfy', cursive;
}

 .hamburgler {
	color: #FCFCFC;
	display:none;
	
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.masthead {
	max-height: 3em;
}
.myNav {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

#logo   {
	margin-top: 1em;
}
#mediaIcons {
	position: fixed;
	width: 100%;
	bottom: 2%;
	z-index: 0;
}
.articleImage {
	float: right;
	margin-left: 15px;
}
.mainText {
	z-index: -1;
}
.authorName {

}

.navbar .nav li {
    width: 100px; /* or whatever width you want for items */
    display: inline-block;
    float: none;
}
.navbar .nav {
    float: none;
    text-align: center;
}
.articleImage {
	max-height: 30em;
}

@media (max-width:768px){
.myNav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
}
.hamburgler {
	visibility: visible;
	font-size: 2em;
}
#mediaIcons {
	bottom: 8%;
}

.navbar-toggle {
	float: none;
	margin-left: 45%;
}



}

@media (min-width:992px){
.mainText {



}
.accentText.accentTextSmall {
	display: none;
}
.accentText.accentTextLarge {
	position: static;
	margin-top: 25%;






}




}

@media (max-width:991px){
.accentText.accentTextLarge {
	display: none;
}
.accentText.accentTextSmall {
	margin-top: 3em;
	margin-bottom: 3em;
}


}
