@charset "utf-8";
.navbar-toggle {
    width: 100%;
    float: none;
    margin: 0 auto;
    border-width:0;
    border-radius:0;
}

.hamburgler {
	color: #FCFCFC;
	font-size: 2em;
	visibility: hidden;
	
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.masthead {
	max-height: 3em;
}
.myNav {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#logo   {
	margin-top: 1em;
}
#mediaIcons {
	position: fixed;
	width: 100%;
	bottom: 2%;
	z-index: 0;


}
.articleImage {
	float: right;
	margin-left: 15px;
}
.mainText {
	z-index: -1;
}



@media (max-width:768px){
.myNav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
}
.hamburgler {
	visibility: visible;
}
#mediaIcons {
	bottom: 8%;
}



}
