@import "bourbon/bourbon";
@import "base/base";

// nav {
// 	display: flex;
// }
body {
	margin: 0;
}
header {
	padding-top: $base-spacing;
	margin-bottom: $small-spacing;
	background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}

.main-nav {
	display: flex;
	justify-content: space-between;
	padding: 0 $small-spacing;
	background-color: black;

	@include breakpoint($large-screen) {
		padding: $small-spacing $base-spacing;
	}

	li {
		margin-left: $small-spacing;
		font-size: .8em;

		@include breakpoint($large-screen) {
			font-size: $base-font-size;
		}

		a {
			width: 100%;
			height: 100%;
			color: $menu-fill-color;
			transition: $base-transition;
		}

		a:hover{
			color: $accent-text-color;
			svg {
				fill: $accent-text-color;
			}
		}
		svg {
			width: 30px;
			height: 30px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			transition: $base-transition;
			fill: $menu-fill-color;

			@include breakpoint($large-screen) {
				width: $svg-desktop-size;
				height: $svg-desktop-size;
			}
		}
	}

	li:last-child {
		margin-right: 0;
		}
	li:first-child {
		margin-left: 0;
	}
}

article {
	width: 100%;
}

.article-content {
	padding: $base-spacing;

	@include breakpoint($large-screen) {
		width: $base-spacing * 20;
		padding: $base-spacing 0 0;
		margin-left: auto;
		margin-right: auto;
	}

	 img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: $small-spacing;
		margin-bottom: $small-spacing;
		@include breakpoint($large-screen) {
			float: right;
			margin: $base-spacing 0 $base-spacing $base-spacing;
		}
	}
}

.title-marquee {
	background-size: 100%;
	background-repeat: no-repeat;
	padding: ($small-spacing / 2) $small-spacing;
	margin-left: $base-spacing;
	margin-right: $base-spacing;
	height: 28vw;
	@include breakpoint ($large-screen) {
		height: 480px;
		padding: $base-spacing;
		background-size: cover;
	}
	h1 {
		margin: 0;
		font-family: $heading-font-family;
		font-weight: $heading-font-weight;
		font-style: italic;
		font-size: 1.236em;
		color: white;

		@include breakpoint($large-screen) {
			font-size: 2.236em
		}
	}
}

.authorship {
	padding: $small-spacing 0 0 $base-spacing;

	@include breakpoint($large-screen) {
		padding: $small-spacing $base-spacing;
	}
}

.page-content {
	@extend .article-content;
}

.masthead {
	padding: 0;

	@include breakpoint($large-screen) {
		padding-left: $base-spacing;
	}

	svg {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: $base-spacing * 3;
		margin-bottom: $small-spacing;

		@include breakpoint($large-screen) {
			height: $base-spacing * 5;
			margin-left: 8em;
			margin-right: 0;
		}

	}
}

.accent-image,
.accent-text {
	display: block;
	max-height: $base-spacing * 4;
	margin: $base-spacing 0;

	@include breakpoint($large-screen) {
		float: right;
		width: 50%;
		margin-left: $small-spacing;
		max-height: none;
	}
}

.accent-text {
	color: $accent-text-color;
	font-style: italic;
}
