extends includes/layout

block content
	-
		var articleAuthor = page.author
		var artistCredit = page.artist
		var headerLink = page.headerimage
		var accentText = page.accenttext
		var accentImage = page.accentimage
		var content = parse5(page.content, accentImage, accentText)
		var title = page.title
		
		
	style.
		.title-marquee {background-image: url(#{headerLink});}
	article
		div.title-marquee
			h1 !{title}
		div.authorship
			div.article-author
				p written by #{articleAuthor}
		div.article-content !{content}
