- var pageTitle = page.title || config.subtitle || ''

doctype html
html(lang=config.language)
	head
		meta(charset='UTF-8')
		title= pageTitle
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.css")
		link(rel="stylesheet", href="css/main.css")
		<script src="https://use.typekit.net/tie2vbh.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		style.
			body {background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%); height: 100%; margin: 0; background-repeat: no-repeat; background-attachment: fixed;} html {height: 100%;}
	body
		div.cover-container
			img.cover-child.first-image(src="img/coverpage1.jpg")
			div.cover-masthead.cover-child
				img(src="img/masthead.svg")
				a(href="letterfromtheeditor.html")
					span.cover-linker
			div.issue-info.cover-child
				h1 Spring 2017
				a(href="letterfromtheeditor.html")
					span.cover-linker
			img.cover-child.second-image(src="img/coverpage2.jpg")
			img.cover-child.third-image(src="img/coverpage3.jpg")
			img.cover-child.fourth-image(src="img/coverpage4.jpg")
			img.cover-child.fifth-image(src="img/coverpage5.jpg")
